<!-- include header -->
<%- include('../include/header.ejs') %>
    <!-- /include header -->

    <body style="background-color: #f4f4f4; font-family: Arial, sans-serif;">

        <%- include('../include/clientNavbar.ejs') %><br><br><br><br><br><br>

            <!-- Content Box -->
            <div class="content-box"
                style="background-color: #fff; border-radius: 10px; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">

                <div class="text-center" style="margin-top: 20px;">
                    <h2 style="color: #333;">Welcome to RapidDispatch</h2>
                    <p style="font-style: italic; color: #666;">Your Partner in Optimizing Trucking Solutions</p>
                </div>

                <br>

                <div class="text-center">
                    <h3 style="color: #008080;">Efficient Truck Management</h3>
                    <p>At RapidDispatch, we specialize in providing time-bound and efficient truck management services.
                        Our
                        goal is to streamline logistics operations, ensuring timely deliveries and optimal resource
                        utilization.</p>
                </div>

                <br>

                <!-- Repeat the above style pattern for other sections -->

                <div class="text-center">
                    <h3 style="color: #008080;">Transparency and Accessibility</h3>
                    <p>We are committed to transparency in information access. RapidDispatch empowers administrators and
                        employees with fast and transparent data access, facilitating informed decision-making and
                        operational efficiency.</p>
                </div>

                <br>

                <div class="text-center">
                    <h3 style="color: #008080;">Revolutionizing Transport Productivity</h3>
                    <p>RapidDispatch leads the way in transport company computerization. Our innovative solutions
                        enhance
                        transport productivity both qualitatively and quantitatively, making the truck delivery system
                        more
                        affordable, accessible, and cost-effective.</p>
                </div>

                <br>

                <div class="text-center">
                    <h3 style="color: #008080;">Secure Transport Management System</h3>
                    <p>Trust RapidDispatch for a robust transport company. We prioritize the security of your
                        data
                        with a secure database and backup infrastructure, ensuring that truck details are updated and
                        securely managed at all times.</p>
                </div>

            </div>
            <!-- End Content Box -->

    </body>

    <!-- include footer -->
    <%- include('../include/footer.ejs') %>
        <!-- /include footer -->